
<div *ngIf="delete">
  <h3 mat-dialog-title>Delete Document</h3>
  <div mat-dialog-content>
    <p>Are you sure you want to delete this document with code 
     <b> {{editData.code}}</b>? This action is irreversible.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button  (click)="removeDoc()" mat-button>Remove</button>
 </div>
</div>

<div *ngIf="add">
  <h3 mat-dialog-title *ngIf="!edit">Add Document</h3>
  <h3 mat-dialog-title *ngIf="edit">Update Document</h3>
  <form [formGroup]="entryForm">
  <div mat-dialog-content>
    <mat-form-field class="col-md-4">
      <mat-label>Document Type:</mat-label>
      <mat-select formControlName="type" required>
        <mat-option value="Resolution">Resolution</mat-option>
        <mat-option value="Highlights of Meeting">Highlights of Meeting</mat-option>
        <!-- <mat-option value="Organizational Profile">Organizational Profile</mat-option>
        <mat-option value="Member Profile">Member Profile</mat-option>
        <mat-option value="Activity Design">Activity Design</mat-option>
        <mat-option value="Incomming Documents">Incomming Documents</mat-option> -->
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-4" *ngIf="entryForm.value.type === 'Resolution'">
      <mat-label>Resolution Title:</mat-label>
      <input matInput formControlName="res_title" />
    </mat-form-field>
    <mat-form-field class="col-md-4" *ngIf="entryForm.value.type === 'Resolution'">
      <mat-label>Resolution Number:</mat-label>
      <input matInput formControlName="res_number" />
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <mat-label>Series of/Year:</mat-label>
      <mat-select formControlName="year" required>
        <mat-option value="2020">2020</mat-option>
        <mat-option value="2019">2019</mat-option>
        <mat-option value="2018">2018</mat-option>
        <mat-option value="2017">2017</mat-option>
        <mat-option value="2016">2016</mat-option>
        <mat-option value="2015">2015</mat-option>
        <mat-option value="2014">2014</mat-option>
        <mat-option value="2013">2013</mat-option>
        <mat-option value="2012">2012</mat-option>
        <mat-option value="2011">2011</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-4" *ngIf="entryForm.value.type === 'Resolution'">
      <mat-label>Date of Endorsement:</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="res_date_endorsement" />
      <mat-datepicker-toggle
        matSuffix
        [for]="dp"
      ></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-4" *ngIf="entryForm.value.type === 'Resolution'">
      <mat-label>Endorsed to:</mat-label>
      <input matInput formControlName="res_endorsed_to" />
    </mat-form-field>
    <mat-form-field class="col-md-4" *ngIf="entryForm.value.type === 'Resolution'">
      <mat-label>Adopted:</mat-label>
      <mat-select formControlName="adopted" required>
        <mat-option value="yes">Yes</mat-option>
        <mat-option value="no">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-4" *ngIf="entryForm.value.type === 'Resolution' && entryForm.value.adopted === 'yes'">
      <mat-label>Date of Adoptation:</mat-label>
      <input matInput [matDatepicker]="picker3" formControlName="date_adopted" />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker3"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <mat-label>AFC</mat-label>
      <mat-select formControlName="afc"  required>
        <mat-option value="RAFC">RAFC</mat-option>
        <mat-option value="HUCAFC/PAFC">HUCAFC/PAFC</mat-option>
        <mat-option value="CAFC">CAFC</mat-option>
        <mat-option value="MAFC">MAFC</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <mat-label>Provice</mat-label>
      <mat-select formControlName="province">
        <mat-option *ngFor="let p of (location | province)" 
       [value]="p.name">
       {{p.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <mat-label>Municipality</mat-label>
      <mat-select formControlName="municipal">
        <mat-option *ngFor="let m of (location | municipal : entryForm.value.province)"
        [value]="m.name">{{m.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <mat-label>Classification</mat-label>
      <mat-select formControlName="classification" required>
        <mat-option value="Funded">Funded</mat-option>
        <mat-option value="Non-Funded">Non-Funded</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <mat-label>Date of Conduct</mat-label>
      <input #ref matInput [matDatepicker]="picker1"  
      formControlName="date_conducted" 
      (dateInput)="addEvent(ref.value)" 
      (dateChange)="addEvent(ref.value)" required/>
      <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <mat-label>Deadline</mat-label>
      <input matInput [(ngModel)]="deadline" 
      [ngModelOptions]="{standalone: true}" disabled/>
    </mat-form-field>
    <!-- <mat-form-field class="col-md-4">
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadline" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
    <mat-form-field class="col-md-4">
      <mat-label>Remarks</mat-label>
      <input matInput formControlName="remarks" />
    </mat-form-field>


  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="!edit"  (click)="insertDoc()" mat-button [disabled]="!entryForm.valid">Save</button>
    <button *ngIf="edit"  (click)="updateDoc()" mat-button [disabled]="!entryForm.valid">Update</button>
  </div>
  </form>
</div>
<div *ngIf="upload">
<mat-card>  
    <mat-card-content>  
      <h2>Attached Files</h2>
        <ul>  
            <li *ngFor="let file of files">  
              <section class="example-section">
                <mat-progress-bar
                    color="accent"
                    mode="mode"
                    [value]="file.progress">
                </mat-progress-bar>
                      <div style="position: absolute; padding: 10px; color: white;"> {{file.progress}}% </div>
              </section>
                <span>  
                      {{file.data.name}}
                </span>  
            </li>  
        </ul>  
    </mat-card-content>  
    <mat-card-actions>  
      <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="accent" (click)="onClick()">  
          <fa-icon icon="upload"></fa-icon> 
        </button>  
    </mat-card-actions>  
</mat-card>

<input type="file" #fileUpload id="fileUpload" name="fileUpload" 
multiple="multiple" accept="image/*,application/pdf" style="display:none;" />
</div>
