<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Records Archiving System</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../search">
           Go to Search
        </a>
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="accent" routerLink="../doc">
          Documents
       </a>
      </div>
      

      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2>About RAS</h2>
          <p>
            This system allows the users to upload electronic documents for filing and
            retrieval. It serves as a document repository of the department.
          </p>
          <div class="follow-releases" [ngClass]="routeAnimationsElements">
            <h2>System Updates</h2><br>
            <div class="row"> 
            
              <div class="col">
                <h4>Version 3.0</h4>
                <ul>
                  <li>Classification of Document </li>
                  <li>Attached icon enabled</li>   
                  <li>Conference Hall Calendar Scheduler </li>   
                </ul>
              </div>
              <div class="col">
                <h4>Version 2.0</h4>
                <ul>
                  <li>Row Grouping was integrated in the table </li>
                  <li>Row Count Display was added in the table</li>
                  <li>Search Result View was enabled</li>    
                </ul>
              </div>
              <div class="col">
                <h4>Version 1.0</h4>
                <ul>
                  <li>Added Login Page </li>
                  <li>Added CRUD Functions with File Uploader</li>
                  <li>Viewing of attached files</li>
                  <li>Search Component</li>
                </ul>
              </div>
            </div>
          
       
         
        
                
          </div>
      </div>
    </div>
 
 
  </div>

</div>

